$colors: (
    common: (
        white: #ffffff,
        black: #0D0D0D,
        brown: #BF8C60,
        brown2: #A66B49,
        brown3: #594336,
    ),
    heading: (
        primary: #0D0D0D,
        1:#333333,
        2:#141515,
    ),
    grey: (
        1:#ADADAD,
        2:#F5F6F8,
        3:#F5F5F3,
        4:#A2A2A2,
        5:#A1A1A1,

    ),
    text: (
        body:#878787,
        1:#171717,
        2:#9F9F9F,
    ),
    theme: (
        1: #A66B49,
    ),
    border: (
        1: #D9D9D9,
        2: #F3F3F3,
        3: #D7D7D7,
    )
);

